@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta de colores no del todo definida */
  --background: #28262c;
  --principal-text: #f9f5ff;
  --secondary-text: #000100;
  --primary: #998fc7;
  --secondary: #d4c2fc;
  --accent-color: #731dd8;
  --foreground: #aaaaaa;
}



/* global.css */
.isActive {
  background-color: var(--principal-text); /* Fondo blanco */
  color: black; /* Texto negro */
  border-radius: 0.75rem; /* Equivalente a rounded en Tailwind */
}

/* Ajustes para Link */
a {
  text-decoration: none; /* Opcional: elimina el subrayado en los enlaces */
}

/* Estilos globales de los botones */
.primary-btn {
  background-color: var(--background);
  color: var(--principal-text);
  border-radius: 0.75rem;
  font-size: 1rem;
}

.primary-btn:hover {
  background-color: var(--primary);
  transition: all 0.1s ease;
  color: var(--secondary-text);
}

.secondary-btn:hover {
  background-color: var(--accent-color);
  transition: all 0.1s ease;
  color: var(--principal-text);
}

.secondary-btn {
  background-color: var(--principal-text);
  color: var(--secondary-text);
  border-radius: 0.75rem;
  font-size: 1rem;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 20vw; /* Ancho del card (20% del ancho de la pantalla) */
  height: 30vh; /* Alto del card (30% del alto de la pantalla) */
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white; /* Color de las flechas */
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Asegúrate de que esté por encima de las imágenes */
}

.carousel-button.left {
  left: 10px; /* Posición en el lado izquierdo */
}

.carousel-button.right {
  right: 10px; /* Posición en el lado derecho */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 100%;
  }
  
  @screen sm {
    .container {
      max-width: 640px;
    }
  }
  
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  
  @screen lg {
    .container {
      max-width: 1024px;
    }
  }
  
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }
  
  @screen  2xl {
    .container {
      max-width: 1536px;
    }
  }
}
