@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Paleta dark alternativa */
  --background: #0d1117; /* Azul oscuro profundo para el fondo */
  --principal-text: #c9d1d9; /* Gris claro para el texto principal */
  --secondary-text: #8b949e; /* Gris medio para el texto secundario */
  --primary: #58a6ff; /* Azul claro para el color principal */
  --secondary: #f85f73; /* Rosa fuerte para contrastar */
  --accent-color: #1f6feb; /* Azul vibrante para resaltar */
  --card-color: #21262d; /* Gris oscuro con un toque azulado para las tarjetas */
  --foreground: #161b22; /* Gris muy oscuro para elementos de fondo */

  /* Fuentes */
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-fira-code: 'Fira Code', monospace;
}




/* Estilos globales */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-fira-code {
  font-family: var(--font-fira-code);
}
/* global.css */
.isActive {
  background-color: var(--principal-text); /* Fondo blanco */
  color: black; /* Texto negro */
  border-radius: 0.75rem; /* Equivalente a rounded en Tailwind */
}

/* Ajustes para Link */
a {
  text-decoration: none; /* Opcional: elimina el subrayado en los enlaces */
}

/* Estilos globales de los botones */
.primary-btn {
  background-color: var(--background);
  color: var(--principal-text);
  border-radius: 0.75rem;
  font-size: 1rem;
}

.primary-btn:hover {
  background-color: var(--primary);
  transition: all 0.1s ease;
  color: var(--secondary-text);
}

.secondary-btn:hover {
  background-color: var(--accent-color);
  transition: all 0.1s ease;
  color: var(--principal-text);
}

.secondary-btn {
  background-color: var(--accent-color);
  color: var(--principal-text);
  border-radius: 0.75rem;
  font-size: 1rem;
}



.card {
  width: 20vw; /* Ancho del card (20% del ancho de la pantalla) */
  height: 30vh; /* Alto del card (30% del alto de la pantalla) */
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white; /* Color de las flechas */
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Asegúrate de que esté por encima de las imágenes */
}

.carousel-button.left {
  left: 10px; /* Posición en el lado izquierdo */
}

.carousel-button.right {
  right: 10px; /* Posición en el lado derecho */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 100%;
  }

  @screen sm {
    .container {
      max-width: 640px;
    }
  }

  @screen md {
    .container {
      max-width: 768px;
    }
  }

  @screen lg {
    .container {
      max-width: 1024px;
    }
  }

  @screen xl {
    .container {
      max-width: 1280px;
    }
  }

  @screen 2xl {
    .container {
      max-width: 1536px;
    }
  }
}
